# Ignore self
.gitignore

# Ignore Node.js Modules
node_modules/*

# Ignore configuration files
config/*

# Ignore SublimeText files
Eribot.sublime-project
Eribot.sublime-workspace

# Ignore temp files
temp
resources/almanax
resources/portals

# Ignore log files
logs/*
